In [1]:
import os
import sys
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt

In [2]:
#montando path local
cwd = os.getcwd()
cwd_back = os.path.dirname(cwd)
data_path = os.path.join(cwd_back, 'tcc_')

In [3]:
#Calcula as medias das medidas das Ns repeticoes do experimento e o desvio padrao, por dataset

In [4]:
# pegando os path local
cwd = os.getcwd()
cwd_back = os.path.dirname(cwd)
data_path = os.path.join(cwd_back, 'tcc_')

# pegando os paths onde estao os arquivos
data_list = os.path.join(data_path, 'resultados','resultados tcc')
data_list_original = os.path.join(data_path, 'original', 'originals')

#listando os arquivos
all_files_resultado = glob.glob(data_list + "/*.csv")
all_files_original = glob.glob(data_list_original + "/*.csv")

    
#variaveis auxiliares
files_reduct = []
files_orig = []

#funcao encontrar arquivo original referente ao arquivo do resultado
def seek_file_original(all_files_original, file_seek):
    for file_original in all_files_original:
        path_original = os.path.basename(file_original).split('.')
        path_file_seek = os.path.basename(file_seek).split('.')
        if path_original[0] == path_file_seek[0]:
            original_file = file_original
            return original_file

#vetores de medidas variantes e constantes
list_medidas_variantes = []
list_medidas_constantes = []

#iterando sobre todos os resultados
for file_  in all_files_resultado:
    #encontrando arquivos originais relativos aos arquivos de resultado
    file_original = seek_file_original(all_files_original,file_)
    
    #lendo resultados
    df = pd.read_csv(file_, sep = '\t')
    #limpando resultados
    df = df.drop(['Unnamed: 0','reducao', 'id_experimento'], axis=1)
    #tirando a media das medidas de todas as repeticoes
    df.loc['0'] = df.mean()
    #tirando o desvios padrao da medias de todas as repeticoes
    df.loc['1'] = df.std()
    #criando daframe com as medias das medidas
    df_media = pd.DataFrame(df.loc['0'])
    df_std = pd.DataFrame(df.loc['1'])
    #transpondo o dataframe
    df_media = df_media.T
    df_std = df_std.T
    
    #lendo medidas originais
    df_original = pd.read_csv(file_original, sep = '\t')
    #limpando originais
    df_original = df_original.drop(['id'], axis=1)
    df_original = df_original.drop(['Unnamed: 0'], axis=1)
    #print(df_std)
    #lista de medidas
    medidas=['attr_conc.max', 'attr_conc.mean', 'attr_conc.median', 'attr_conc.min', 'attr_conc.sd', 'attr_ent.max', 'attr_ent.mean', 'attr_ent.median', 'attr_ent.min', 'attr_ent.sd', 'attr_to_inst', 'cat_to_num', 'cor.max', 'cor.mean', 'cor.median', 'cor.min', 'cor.sd', 'cov.max', 'cov.mean', 'cov.median', 'cov.min', 'cov.sd', 'eigenvalues.max', 'eigenvalues.mean', 'eigenvalues.median', 'eigenvalues.min', 'eigenvalues.sd', 'g_mean.max', 'g_mean.mean', 'g_mean.median', 'g_mean.min', 'g_mean.sd', 'h_mean.max', 'h_mean.mean', 'h_mean.median', 'h_mean.min', 'h_mean.sd', 'inst_to_attr', 'iq_range.max', 'iq_range.mean', 'iq_range.median', 'iq_range.min', 'iq_range.sd', 'kurtosis.max', 'kurtosis.mean', 'kurtosis.median', 'kurtosis.min', 'kurtosis.sd', 'mad.max', 'mad.mean', 'mad.median', 'mad.min', 'mad.sd', 'max.max', 'max.mean', 'max.median', 'max.min', 'max.sd', 'mean.max', 'mean.mean', 'mean.median', 'mean.min', 'mean.sd', 'median.max', 'median.mean', 'median.median', 'median.min', 'median.sd', 'min.max', 'min.mean', 'min.median', 'min.min', 'min.sd', 'nr_attr', 'nr_bin', 'nr_cat', 'nr_cor_attr', 'nr_inst', 'nr_norm', 'nr_num', 'nr_outliers', 'num_to_cat', 'range.max', 'range.mean', 'range.median', 'range.min', 'range.sd', 'sd.max', 'sd.mean', 'sd.median', 'sd.min', 'sd.sd', 'skewness.max', 'skewness.mean', 'skewness.median', 'skewness.min', 'skewness.sd', 'sparsity.max', 'sparsity.mean', 'sparsity.median', 'sparsity.min', 'sparsity.sd', 't_mean.max', 't_mean.mean', 't_mean.median', 't_mean.min', 't_mean.sd', 'var.max', 'var.mean', 'var.median', 'var.min', 'var.sd']
    # pegando nome do arquivo original
    namefile = os.path.basename(file_original).split('.')[0]
    # criando dataframe com as medidas constantes
    lista_med_constantes = pd.DataFrame(columns = ['dataset','medida','valor_da_medida'])
    # criando dataframe com as medidas variantes
    lista_med_variaram = pd.DataFrame(columns = ['dataset','medida','media_da_medida', 'std_medida'])
    
    lin = 0
    #iterando as medidas para comparar o valor da medida do resultado com a medida do original
    for medida in medidas:
        #caso medida do resultado igual a medida do original, signigica que a medida se manteve constante
        if df_media[medida].values == df_original[medida].values:
            #adicionando medida no dataframe de medidas constantes
            lista_med_constantes.loc[lin] = namefile, df_original[medida].name, df_original[medida].values
        #caso medida do resultado seja diferente da medida do original, signigica que a medida teve variacao
        if df_media[medida].values != df_original[medida].values:
            #adicionando medida no dataframe de medidas variantes
            lista_med_variaram.loc[lin] = namefile, df_media[medida].name, df_media[medida][0], df_std[medida][0]
        #contador de linhas para o dataframe
        lin = lin + 1
        
    #gera rank_das_medias e rank_std
    lista_med_variaram['rank_das_medias'] = lista_med_variaram['media_da_medida'].rank()  
    lista_med_variaram['rank_std'] = lista_med_variaram['std_medida'].rank()
    #eliminando NANs
    lista_med_variaram = lista_med_variaram.dropna()
    #organiza pelo rank de desvio padrao rank_std
    lista_med_variaram = lista_med_variaram.sort_values(by='rank_std',ascending=False)
    
    #Cria lista com as medidas que variaram  por dataset
    list_medidas_variantes.append(lista_med_variaram.reset_index(drop=True))
    
    #organiza lista de medidas constantes por valor da medida 
    lista_med_constantes = lista_med_constantes.sort_values(by='valor_da_medida',ascending=False)
    
    #Cria lista com as medidas constantes por dataset
    list_medidas_constantes.append(lista_med_constantes.reset_index(drop=True))

In [26]:
#rank das medias das medidas que variaram por dataset
list_medidas_variantes[11]

              dataset            medida    std_medida  reducao  rank_std
0    cem___Amphibians     kurtosis.mean  5.712979e-15     0.19     528.0
1    cem___Amphibians     kurtosis.mean  2.599444e-15     0.18     527.0
2    cem___Amphibians     kurtosis.mean  2.112402e-15     0.13     526.0
3    cem___Amphibians     kurtosis.mean  1.371319e-15     0.11     525.0
4    cem___Amphibians     kurtosis.mean  1.210853e-15     0.10     524.0
..                ...               ...           ...      ...       ...
523  cem___Amphibians  eigenvalues.mean  0.000000e+00     0.19     221.0
524  cem___Amphibians  eigenvalues.mean  0.000000e+00     0.18     221.0
525  cem___Amphibians  eigenvalues.mean  0.000000e+00     0.17     221.0
526  cem___Amphibians  eigenvalues.mean  0.000000e+00     0.15     221.0
527  cem___Amphibians      kurtosis.min  0.000000e+00     0.10     221.0

[528 rows x 5 columns]

In [6]:
#rank das 10 medidas que mais variaram por dataset
list_medidas_variantes[0].head(10)

,dataset,medida,media_da_medida,std_medida,rank_das_medias,rank_std
0,40_7____anneal,eigenvalues.max,3.569109e+06,413445.400794,78.0,78.0
1,40_7____anneal,var.max,3.568581e+06,413401.457024,77.0,77.0
2,40_7____anneal,eigenvalues.sd,3.526209e+05,44714.068674,76.0,76.0
3,40_7____anneal,var.sd,3.525684e+05,44708.069889,75.0,75.0
4,40_7____anneal,cov.max,3.678327e+04,13668.573780,74.0,74.0
5,40_7____anneal,var.mean,3.518863e+04,5272.414202,73.0,73.0
6,40_7____anneal,eigenvalues.mean,3.518863e+04,5272.414202,72.0,72.0
7,40_7____anneal,iq_range.max,1.534678e+03,1320.974761,70.0,71.0
8,40_7____anneal,mad.max,6.340137e+02,423.744878,68.0,70.0
9,40_7____anneal,median.max,4.278114e+02,285.550323,63.0,69.0

In [7]:
#rank das 10 medidas que menos variaram por dataset
list_medidas_variantes[0].tail(10)

,dataset,medida,media_da_medida,std_medida,rank_das_medias,rank_std
68,40_7____anneal,mean.min,8.676851e-03,2.047564e-03,10.0,10.0
69,40_7____anneal,var.min,8.676851e-03,2.047564e-03,9.0,9.0
70,40_7____anneal,eigenvalues.median,1.233530e-02,1.638872e-03,12.0,8.0
71,40_7____anneal,sparsity.median,4.955830e-01,9.831657e-04,27.0,7.0
72,40_7____anneal,cov.median,1.463300e-03,5.374739e-04,7.0,6.0
73,40_7____anneal,cor.min,1.656847e-04,3.304948e-04,6.0,5.0
74,40_7____anneal,attr_conc.min,2.050506e-06,3.977966e-05,4.0,4.0
75,40_7____anneal,cov.min,2.056539e-05,3.457404e-05,5.0,3.0
76,40_7____anneal,eigenvalues.min,-9.633552e-15,3.725390e-14,3.0,2.0
77,40_7____anneal,cat_to_num,6.800000e+00,3.557162e-14,42.0,1.0

In [8]:
#lista das medidas constantes por dataset
list_medidas_constantes[0]

           dataset           medida       valor_da_medida
0   40_7____anneal        range.max              [4880.0]
1   40_7____anneal          max.max              [4880.0]
2   40_7____anneal          nr_attr                  [39]
3   40_7____anneal           nr_cat                  [34]
4   40_7____anneal           nr_num                   [5]
5   40_7____anneal     sparsity.max                 [1.0]
6   40_7____anneal     range.median                 [1.0]
7   40_7____anneal       max.median                 [1.0]
8   40_7____anneal          cor.max                 [1.0]
9   40_7____anneal       num_to_cat  [0.1470588235294117]
10  40_7____anneal     attr_ent.min                 [0.0]
11  40_7____anneal         min.mean                 [0.0]
12  40_7____anneal    t_mean.median                 [0.0]
13  40_7____anneal           min.sd                 [0.0]
14  40_7____anneal          min.min                 [0.0]
15  40_7____anneal       min.median                 [0.0]
16  40_7____anneal       median.min                 [0.0]
17  40_7____anneal          min.max                 [0.0]
18  40_7____anneal    median.median                 [0.0]
19  40_7____anneal          mad.min                 [0.0]
20  40_7____anneal       mad.median                 [0.0]
21  40_7____anneal     iq_range.min                 [0.0]
22  40_7____anneal  iq_range.median                 [0.0]
23  40_7____anneal        h_mean.sd                 [0.0]
24  40_7____anneal       h_mean.min                 [0.0]
25  40_7____anneal    h_mean.median                 [0.0]
26  40_7____anneal      h_mean.mean                 [0.0]
27  40_7____anneal       h_mean.max                 [0.0]
28  40_7____anneal       t_mean.min                 [0.0]

In [9]:
#medidas que mais variaram no geral com o resultados de todos os datasets unidos
listamedidas=['attr_conc.max', 'attr_conc.mean', 'attr_conc.median', 'attr_conc.min', 'attr_conc.sd', 'attr_ent.max', 'attr_ent.mean', 'attr_ent.median', 'attr_ent.min', 'attr_ent.sd', 'attr_to_inst', 'cat_to_num', 'cor.max', 'cor.mean', 'cor.median', 'cor.min', 'cor.sd', 'cov.max', 'cov.mean', 'cov.median', 'cov.min', 'cov.sd', 'eigenvalues.max', 'eigenvalues.mean', 'eigenvalues.median', 'eigenvalues.min', 'eigenvalues.sd', 'g_mean.max', 'g_mean.mean', 'g_mean.median', 'g_mean.min', 'g_mean.sd', 'h_mean.max', 'h_mean.mean', 'h_mean.median', 'h_mean.min', 'h_mean.sd', 'inst_to_attr', 'iq_range.max', 'iq_range.mean', 'iq_range.median', 'iq_range.min', 'iq_range.sd', 'kurtosis.max', 'kurtosis.mean', 'kurtosis.median', 'kurtosis.min', 'kurtosis.sd', 'mad.max', 'mad.mean', 'mad.median', 'mad.min', 'mad.sd', 'max.max', 'max.mean', 'max.median', 'max.min', 'max.sd', 'mean.max', 'mean.mean', 'mean.median', 'mean.min', 'mean.sd', 'median.max', 'median.mean', 'median.median', 'median.min', 'median.sd', 'min.max', 'min.mean', 'min.median', 'min.min', 'min.sd', 'nr_attr', 'nr_bin', 'nr_cat', 'nr_cor_attr', 'nr_inst', 'nr_norm', 'nr_num', 'nr_outliers', 'num_to_cat', 'range.max', 'range.mean', 'range.median', 'range.min', 'range.sd', 'sd.max', 'sd.mean', 'sd.median', 'sd.min', 'sd.sd', 'skewness.max', 'skewness.mean', 'skewness.median', 'skewness.min', 'skewness.sd', 'sparsity.max', 'sparsity.mean', 'sparsity.median', 'sparsity.min', 'sparsity.sd', 't_mean.max', 't_mean.mean', 't_mean.median', 't_mean.min', 't_mean.sd', 'var.max', 'var.mean', 'var.median', 'var.min', 'var.sd']
media_medidas = pd.DataFrame()

nfiles=0
for medidas_dataset in list_medidas_variantes:
    media_medidas = pd.concat([media_medidas,medidas_dataset], ignore_index = True)

rank_medidas_variantes=(media_medidas.groupby(['medida']).mean(numeric_only=True))
rank_medidas_variantes.pop('rank_das_medias')
rank_medidas_variantes.pop('rank_std')
rank_medidas_variantes = rank_medidas_variantes.sort_values(by='std_medida',ascending=False)
print(rank_medidas_variantes)

                 media_da_medida    std_medida
medida
eigenvalues.max     4.843213e+05  1.007008e+05
var.max             4.842523e+05  1.006944e+05
eigenvalues.sd      1.106463e+05  3.321032e+04
var.sd              1.106284e+05  3.320838e+04
var.mean            3.908529e+04  1.360388e+04
...                          ...           ...
cor.min             1.346941e-02  6.471393e-03
var.min             3.111373e-02  5.490352e-03
eigenvalues.min    -4.488429e-13  2.670779e-11
cat_to_num          3.418182e+00  1.794210e-14
num_to_cat          1.111111e-01  8.752316e-16

[104 rows x 2 columns]

In [10]:
#rank das 10 medidas  que mais variaram com todos os datasets unidos
rank_medidas_variantes.head(10)

                  media_da_medida     std_medida
medida
eigenvalues.max     484321.327384  100700.833204
var.max             484252.252162  100694.387752
eigenvalues.sd      110646.288312   33210.316717
var.sd              110628.447851   33208.382306
var.mean             39085.291675   13603.879820
eigenvalues.mean     39085.291675   13603.879820
cov.max               4973.215844    1595.564906
max.max               2120.087200     504.083662
range.max             1722.618273     421.116334
iq_range.max           424.575131     196.116618

In [11]:
#rank das 10 medidas  que menos variaram com todos os datasets unidos
rank_medidas_variantes.tail(10)

                 media_da_medida    std_medida
medida
sparsity.min        8.265232e-02  1.273202e-02
mean.min            3.768809e-02  1.222990e-02
cor.median          6.352867e-02  1.199063e-02
cor.mean            9.392244e-02  1.022447e-02
cor.sd              9.225789e-02  6.758302e-03
cor.min             1.346941e-02  6.471393e-03
var.min             3.111373e-02  5.490352e-03
eigenvalues.min    -4.488429e-13  2.670779e-11
cat_to_num          3.418182e+00  1.794210e-14
num_to_cat          1.111111e-01  8.752316e-16

In [12]:
#Calcula as medias das medidas das Ns repeticoes do experimento e o desvio padrao, por dataset e tamanho de reducao

In [13]:
# pegando os path local
cwd = os.getcwd()
cwd_back = os.path.dirname(cwd)
data_path = os.path.join(cwd_back, 'tcc_')

# pegando os paths onde estao os arquivos
data_list = os.path.join(data_path, 'resultados','resultados tcc')
data_list_original = os.path.join(data_path, 'original', 'originals')

#listando os arquivos
all_files_resultado = glob.glob(data_list + "/*.csv")
all_files_original = glob.glob(data_list_original + "/*.csv")

    
#variaveis auxiliares
files_reduct = []
files_orig = []

#funcao encontrar arquivo original referente ao arquivo do resultado
def seek_file_original(all_files_original, file_seek):
    for file_original in all_files_original:
        path_original = os.path.basename(file_original).split('.')
        path_file_seek = os.path.basename(file_seek).split('.')
        if path_original[0] == path_file_seek[0]:
            original_file = file_original
            return original_file

#vetores de medidas variantes e constantes
list_medidas_variantes = []
list_medidas_constantes = []

#iterando sobre todos os resultados
for file_  in all_files_resultado:
    #encontrando arquivos originais relativos aos arquivos de resultado
    file_original = seek_file_original(all_files_original,file_)
    
    #lendo resultados
    df = pd.read_csv(file_, sep = '\t')
    #limpando resultados
    df = df.drop(['Unnamed: 0', 'id_experimento'], axis=1)
    #tirando a media das medidas de todas as repeticoes
 
    df = df.groupby(['reducao'],as_index=False ).std(numeric_only=True )
    df_reduc = pd.DataFrame(df.reducao)
    df_reduc = df_reduc.values.tolist()

    #lendo medidas originais
    df_original = pd.read_csv(file_original, sep = '\t')
    #limpando originais
    df_original = df_original.drop(['id'], axis=1)
    df_original = df_original.drop(['Unnamed: 0'], axis=1)
  
    
    #lista de medidas
    medidas=['attr_conc.max', 'attr_conc.mean', 'attr_conc.median', 'attr_conc.min', 'attr_conc.sd', 'attr_ent.max', 'attr_ent.mean', 'attr_ent.median', 'attr_ent.min', 'attr_ent.sd', 'attr_to_inst', 'cat_to_num', 'cor.max', 'cor.mean', 'cor.median', 'cor.min', 'cor.sd', 'cov.max', 'cov.mean', 'cov.median', 'cov.min', 'cov.sd', 'eigenvalues.max', 'eigenvalues.mean', 'eigenvalues.median', 'eigenvalues.min', 'eigenvalues.sd', 'g_mean.max', 'g_mean.mean', 'g_mean.median', 'g_mean.min', 'g_mean.sd', 'h_mean.max', 'h_mean.mean', 'h_mean.median', 'h_mean.min', 'h_mean.sd', 'inst_to_attr', 'iq_range.max', 'iq_range.mean', 'iq_range.median', 'iq_range.min', 'iq_range.sd', 'kurtosis.max', 'kurtosis.mean', 'kurtosis.median', 'kurtosis.min', 'kurtosis.sd', 'mad.max', 'mad.mean', 'mad.median', 'mad.min', 'mad.sd', 'max.max', 'max.mean', 'max.median', 'max.min', 'max.sd', 'mean.max', 'mean.mean', 'mean.median', 'mean.min', 'mean.sd', 'median.max', 'median.mean', 'median.median', 'median.min', 'median.sd', 'min.max', 'min.mean', 'min.median', 'min.min', 'min.sd', 'nr_attr', 'nr_bin', 'nr_cat', 'nr_cor_attr', 'nr_inst', 'nr_norm', 'nr_num', 'nr_outliers', 'num_to_cat', 'range.max', 'range.mean', 'range.median', 'range.min', 'range.sd', 'sd.max', 'sd.mean', 'sd.median', 'sd.min', 'sd.sd', 'skewness.max', 'skewness.mean', 'skewness.median', 'skewness.min', 'skewness.sd', 'sparsity.max', 'sparsity.mean', 'sparsity.median', 'sparsity.min', 'sparsity.sd', 't_mean.max', 't_mean.mean', 't_mean.median', 't_mean.min', 't_mean.sd', 'var.max', 'var.mean', 'var.median', 'var.min', 'var.sd']
    # pegando nome do arquivo original
    namefile = os.path.basename(file_original).split('.')[0]
    # criando dataframe com as medidas constantes
    lista_med_constantes = pd.DataFrame(columns = ['dataset','medida','valor_da_medida'])
    # criando dataframe com as medidas variantes
    lista_med_variaram = pd.DataFrame(columns = ['dataset','medida', 'std_medida','reducao'])
    
   
    #iterando as medidas para comparar o valor da medida do resultado com a medida do original
    lin = 0
    for medida in medidas:
        ii=0
        for nreducao in df_reduc:
          
            #caso medida do resultado igual a medida do original, signigica que a medida se manteve constante
            if df_media[medida].values == df_original[medida].values:
                #adicionando medida no dataframe de medidas constantes
                lista_med_constantes.loc[lin] = namefile, df_original[medida].name, df_original[medida].values
            #caso medida do resultado seja diferente da medida do original, signigica que a medida teve variacao
            if df_media[medida].values != df_original[medida].values:
                #adicionando medida no dataframe de medidas variantes
                
                lista_med_variaram.loc[lin] = namefile, df[medida].name, df[medida][ii], nreducao[0]
            ii=ii+1
            #contador de linhas para o dataframe
            lin = lin + 1
    #gera rank medidas variantes por desvio padrao rank_std  e tamanho de reducao
    lista_med_variaram['rank_std'] = lista_med_variaram['std_medida'].rank()
    #organiza medidas contastantes por valor da medida
    lista_med_constantes = lista_med_constantes.sort_values(by='valor_da_medida',ascending=False)
    #elimina os NANs da medidas variantes
    lista_med_variaram = lista_med_variaram.dropna()
    #organiza medidas variantes por rank de desvio padrao
    lista_med_variaram = lista_med_variaram.sort_values(by='rank_std',ascending=False)
    
    #adiciona lista de medidas variantes pir 
    list_medidas_variantes.append(lista_med_variaram.reset_index(drop=True))
    list_medidas_constantes.append(lista_med_constantes.reset_index(drop=True))

In [14]:
#rank das medias das medidas que variaram por dataset e reduÃ§Ã£o
list_medidas_variantes[1]

              dataset           medida  std_medida  reducao  rank_std
0     40_7____abalone      nr_outliers   24.173399     0.16    1034.0
1     40_7____abalone      nr_outliers   23.813364     0.18    1033.0
2     40_7____abalone      nr_outliers   23.047943     0.13    1032.0
3     40_7____abalone      nr_outliers   22.677844     0.15    1031.0
4     40_7____abalone      nr_outliers   22.216750     0.20    1030.0
...               ...              ...         ...      ...       ...
1029  40_7____abalone          nr_inst    0.000000     0.15     120.5
1030  40_7____abalone  skewness.median    0.000000     0.11     120.5
1031  40_7____abalone  skewness.median    0.000000     0.13     120.5
1032  40_7____abalone  skewness.median    0.000000     0.14     120.5
1033  40_7____abalone          nr_attr    0.000000     0.12     120.5

[1034 rows x 5 columns]

In [15]:
#rank das 10 medidas que mais variaram por dataset e reduÃ§Ã£o
list_medidas_variantes[0].head(10)

          dataset           medida     std_medida  reducao  rank_std
0  40_7____anneal  eigenvalues.max  541118.136510     0.12     924.0
1  40_7____anneal          var.max  541061.978398     0.12     923.0
2  40_7____anneal  eigenvalues.max  484525.238957     0.10     922.0
3  40_7____anneal          var.max  484415.328154     0.10     921.0
4  40_7____anneal  eigenvalues.max  442509.404892     0.13     920.0
5  40_7____anneal          var.max  442372.488832     0.13     919.0
6  40_7____anneal  eigenvalues.max  440509.499522     0.11     918.0
7  40_7____anneal          var.max  440502.160271     0.11     917.0
8  40_7____anneal  eigenvalues.max  405955.825890     0.15     916.0
9  40_7____anneal          var.max  405886.170955     0.15     915.0

In [16]:
#rank das 10 medidas que menos variaram por dataset e reduÃ§Ã£o
list_medidas_variantes[0].tail(10)

            dataset        medida  std_medida  reducao  rank_std
914  40_7____anneal  inst_to_attr         0.0     0.15      94.0
915  40_7____anneal  inst_to_attr         0.0     0.14      94.0
916  40_7____anneal  inst_to_attr         0.0     0.13      94.0
917  40_7____anneal  inst_to_attr         0.0     0.12      94.0
918  40_7____anneal  inst_to_attr         0.0     0.11      94.0
919  40_7____anneal  inst_to_attr         0.0     0.10      94.0
920  40_7____anneal        sd.min         0.0     0.12      94.0
921  40_7____anneal        sd.min         0.0     0.14      94.0
922  40_7____anneal        sd.min         0.0     0.15      94.0
923  40_7____anneal    cat_to_num         0.0     0.16      94.0

In [17]:
#lista das medidas constantes por dataset e reduÃ§Ã£o
list_medidas_constantes[1]

             dataset        medida valor_da_medida
0    40_7____abalone     range.min           [1.0]
1    40_7____abalone       max.min           [1.0]
2    40_7____abalone  range.median           [1.0]
3    40_7____abalone  range.median           [1.0]
4    40_7____abalone  range.median           [1.0]
..               ...           ...             ...
193  40_7____abalone       mad.min           [0.0]
194  40_7____abalone       mad.min           [0.0]
195  40_7____abalone       mad.min           [0.0]
196  40_7____abalone       mad.min           [0.0]
197  40_7____abalone    t_mean.min           [0.0]

[198 rows x 3 columns]

In [18]:
#medidas que mais variaram no geral por reducao com o resultados de todos os datasets unidos
listamedidas=['attr_conc.max', 'attr_conc.mean', 'attr_conc.median', 'attr_conc.min', 'attr_conc.sd', 'attr_ent.max', 'attr_ent.mean', 'attr_ent.median', 'attr_ent.min', 'attr_ent.sd', 'attr_to_inst', 'cat_to_num', 'cor.max', 'cor.mean', 'cor.median', 'cor.min', 'cor.sd', 'cov.max', 'cov.mean', 'cov.median', 'cov.min', 'cov.sd', 'eigenvalues.max', 'eigenvalues.mean', 'eigenvalues.median', 'eigenvalues.min', 'eigenvalues.sd', 'g_mean.max', 'g_mean.mean', 'g_mean.median', 'g_mean.min', 'g_mean.sd', 'h_mean.max', 'h_mean.mean', 'h_mean.median', 'h_mean.min', 'h_mean.sd', 'inst_to_attr', 'iq_range.max', 'iq_range.mean', 'iq_range.median', 'iq_range.min', 'iq_range.sd', 'kurtosis.max', 'kurtosis.mean', 'kurtosis.median', 'kurtosis.min', 'kurtosis.sd', 'mad.max', 'mad.mean', 'mad.median', 'mad.min', 'mad.sd', 'max.max', 'max.mean', 'max.median', 'max.min', 'max.sd', 'mean.max', 'mean.mean', 'mean.median', 'mean.min', 'mean.sd', 'median.max', 'median.mean', 'median.median', 'median.min', 'median.sd', 'min.max', 'min.mean', 'min.median', 'min.min', 'min.sd', 'nr_attr', 'nr_bin', 'nr_cat', 'nr_cor_attr', 'nr_inst', 'nr_norm', 'nr_num', 'nr_outliers', 'num_to_cat', 'range.max', 'range.mean', 'range.median', 'range.min', 'range.sd', 'sd.max', 'sd.mean', 'sd.median', 'sd.min', 'sd.sd', 'skewness.max', 'skewness.mean', 'skewness.median', 'skewness.min', 'skewness.sd', 'sparsity.max', 'sparsity.mean', 'sparsity.median', 'sparsity.min', 'sparsity.sd', 't_mean.max', 't_mean.mean', 't_mean.median', 't_mean.min', 't_mean.sd', 'var.max', 'var.mean', 'var.median', 'var.min', 'var.sd']
media_medidas = pd.DataFrame()

#contador de arquivos
nfiles=0
#iterando lista de medidas variantes
for medidas_dataset in list_medidas_variantes:
    #concatenando resultados de todos os datasets
    media_medidas = pd.concat([media_medidas,medidas_dataset], ignore_index = True)

rank_medidas_variantes_por_reducao = media_medidas.sort_values(by='rank_std',ascending=False)
print(rank_medidas_variantes_por_reducao)

                  dataset           medida     std_medida  reducao  rank_std
5588  40_7____transfusion  eigenvalues.max  989811.763452     0.10    1133.0
5589  40_7____transfusion          var.max  989778.713448     0.10    1132.0
5590  40_7____transfusion  eigenvalues.max  978493.016079     0.11    1131.0
5591  40_7____transfusion          var.max  978458.756599     0.11    1130.0
5592  40_7____transfusion  eigenvalues.max  917422.556860     0.13    1129.0
...                   ...              ...            ...      ...       ...
7434     40_7____kr-vs-kp       median.max       0.000000     0.13      55.5
7433     40_7____kr-vs-kp       median.max       0.000000     0.14      55.5
7432     40_7____kr-vs-kp       median.max       0.000000     0.15      55.5
7431     40_7____kr-vs-kp       median.max       0.000000     0.16      55.5
7512     40_7____kr-vs-kp     attr_to_inst       0.000000     0.12      55.5

[10648 rows x 5 columns]

In [19]:
#rank das 10 medidas  que mais variaram por reduÃ§Ã£o com todos os datasets unidos
rank_medidas_variantes_por_reducao.head(10)

                  dataset           medida     std_medida  reducao  rank_std
5588  40_7____transfusion  eigenvalues.max  989811.763452     0.10    1133.0
5589  40_7____transfusion          var.max  989778.713448     0.10    1132.0
5590  40_7____transfusion  eigenvalues.max  978493.016079     0.11    1131.0
5591  40_7____transfusion          var.max  978458.756599     0.11    1130.0
5592  40_7____transfusion  eigenvalues.max  917422.556860     0.13    1129.0
5593  40_7____transfusion          var.max  917384.300598     0.13    1128.0
5594  40_7____transfusion  eigenvalues.max  823752.337399     0.15    1127.0
5595  40_7____transfusion          var.max  823729.617875     0.15    1126.0
5596  40_7____transfusion  eigenvalues.max  789557.715720     0.17    1125.0
5597  40_7____transfusion          var.max  789529.917469     0.17    1124.0

In [20]:
#rank das 10 medidas  que menos variaram por reducao com todos os datasets unidos
rank_medidas_variantes_por_reducao.tail(10)

               dataset        medida  std_medida  reducao  rank_std
7439  40_7____kr-vs-kp  attr_to_inst         0.0     0.19      55.5
7438  40_7____kr-vs-kp  attr_to_inst         0.0     0.20      55.5
7437  40_7____kr-vs-kp    median.max         0.0     0.10      55.5
7436  40_7____kr-vs-kp    median.max         0.0     0.11      55.5
7435  40_7____kr-vs-kp    median.max         0.0     0.12      55.5
7434  40_7____kr-vs-kp    median.max         0.0     0.13      55.5
7433  40_7____kr-vs-kp    median.max         0.0     0.14      55.5
7432  40_7____kr-vs-kp    median.max         0.0     0.15      55.5
7431  40_7____kr-vs-kp    median.max         0.0     0.16      55.5
7512  40_7____kr-vs-kp  attr_to_inst         0.0     0.12      55.5

In [21]:
for i in files_reduct:
    i.plot()
    plt.show()
#print(files_orig[11].plot())
#columns ='attr_conc.max', 'attr_conc.mean', 'attr_conc.median', 'attr_conc.min', 'attr_conc.sd', 'attr_ent.max', 'attr_ent.mean', 'attr_ent.median', 'attr_ent.min', 'attr_ent.sd', 'attr_to_inst', 'cat_to_num', 'cor.max', 'cor.mean', 'cor.median', 'cor.min', 'cor.sd', 'cov.max', 'cov.mean', 'cov.median', 'cov.min', 'cov.sd', 'eigenvalues.max', 'eigenvalues.mean', 'eigenvalues.median', 'eigenvalues.min', 'eigenvalues.sd', 'g_mean.max', 'g_mean.mean', 'g_mean.median', 'g_mean.min', 'g_mean.sd', 'h_mean.max', 'h_mean.mean', 'h_mean.median', 'h_mean.min', 'h_mean.sd', 'inst_to_attr', 'iq_range.max', 'iq_range.mean', 'iq_range.median', 'iq_range.min', 'iq_range.sd', 'kurtosis.max', 'kurtosis.mean', 'kurtosis.median', 'kurtosis.min', 'kurtosis.sd', 'mad.max', 'mad.mean', 'mad.median', 'mad.min', 'mad.sd', 'max.max', 'max.mean', 'max.median', 'max.min', 'max.sd', 'mean.max', 'mean.mean', 'mean.median', 'mean.min', 'mean.sd', 'median.max', 'median.mean', 'median.median', 'median.min', 'median.sd', 'min.max', 'min.mean', 'min.median', 'min.min', 'min.sd', 'nr_attr', 'nr_bin', 'nr_cat', 'nr_cor_attr', 'nr_inst', 'nr_norm', 'nr_num', 'nr_outliers', 'num_to_cat', 'range.max', 'range.mean', 'range.median', 'range.min', 'range.sd', 'sd.max', 'sd.mean', 'sd.median', 'sd.min', 'sd.sd', 'skewness.max', 'skewness.mean', 'skewness.median', 'skewness.min', 'skewness.sd', 'sparsity.max', 'sparsity.mean', 'sparsity.median', 'sparsity.min', 'sparsity.sd', 't_mean.max', 't_mean.mean', 't_mean.median', 't_mean.min', 't_mean.sd', 'var.max', 'var.mean', 'var.median', 'var.min', 'var.sd')

In [22]:
for i in files_orig:
    i.plot()
    plt.show()

In [23]:
x=0
for i in files_lin:
    #dados grafico reduzido
    eixoXX = np.ones(files_lin[x].size)
    #dados grafico original
    eixoX = np.ones(files_orig[x].size)
    #plotando grafico medidas reduzidas
    plt.scatter(eixoXX, files_lin[x])
    plt.show()

    #plotando grafico com dados originais
    #plt.scatter(eixoX, files_orig[x])
    #plt.xlim([0,3])
    #plt.show()
    x=x+1

NameError: name 'files_lin' is not defined

In [ ]:
x=0
for i in files_lin:
    #dados grafico reduzido
    eixoXX = np.ones(files_lin[x].size)
    #dados grafico original
    eixoX = np.ones(files_orig[x].size)
    #plotando grafico medidas reduzidas
    plt.scatter(eixoXX, files_lin[x])
    plt.show()

    #plotando grafico com dados originais
    #plt.scatter(eixoX, files_orig[x])
    #plt.xlim([0,3])
    #plt.show()
    x=x+1